# TEMPLATE IMMOBILIER — Variables d'environnement
NODE_ENV=development
NEXT_PUBLIC_IMMOBILIER_SITE_URL=http://localhost:3003
NEXT_PUBLIC_IMMOBILIER_SITE_NAME=Prestige Immobilier Cameroun
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=noreply@votredomaine.cm
IMMOBILIER_CONTACT_EMAIL_TO=contact@immobilier.cm
NEXT_PUBLIC_IMMOBILIER_WHATSAPP=237699000003
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_IMMOBILIER_GA_ID=G-XXXXXXXXXX
