# TEMPLATE SANTE — Variables d'environnement
NODE_ENV=development
NEXT_PUBLIC_SANTE_SITE_URL=http://localhost:3002
NEXT_PUBLIC_SANTE_SITE_NAME=Clinique Espoir Yaoundé
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=noreply@votredomaine.cm
SANTE_CONTACT_EMAIL_TO=contact@sante.cm
NEXT_PUBLIC_SANTE_WHATSAPP=237699000002
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_SANTE_GA_ID=G-XXXXXXXXXX
