# TEMPLATE LIFESTYLE — Variables d'environnement
NODE_ENV=development
NEXT_PUBLIC_LIFESTYLE_SITE_URL=http://localhost:3004
NEXT_PUBLIC_LIFESTYLE_SITE_NAME=Chez Mama Africa Restaurant
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=noreply@votredomaine.cm
LIFESTYLE_CONTACT_EMAIL_TO=contact@lifestyle.cm
NEXT_PUBLIC_LIFESTYLE_WHATSAPP=237699000004
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_LIFESTYLE_GA_ID=G-XXXXXXXXXX
